button{
    width: 10;
    height:10;
    background-color:#75474a;
    color:white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 1cm; 
}
 #ingredients{
    background-color:#e8dbd3;
    margin-left: 0.90cm;
    margin-right: 0.90cm;
    border-radius: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left:25px;
    padding-right:25px;
}
main{
    background-color:#f3eeea;
    margin-left: 3cm;
    margin-right: 3cm;
    border-radius: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left:25px;
    padding-right:25px;
}
